<html>
    <head>
        <title>로그인 화면</title>
    </head>
    <body>
        <form action='/login' method='post'>
            <div>
                ID :
                <input type='text' name='memberId'>
            </div>
            <div>
                PW :
                <input type='password' name='memberPw'>
            </div>
            <div>
                <button type='submit'>로그인</button>
            </div>
        </form>
            <div>
                <a href='/memberJoin'>회원가입</a>
            </div>
    </body>
</html>