<html>
    <head>
        <title>회원 가입</title>
    </head>
    <body>
        <h1> 회원 가입 </h1>
            <form action ='/memberJoin' method='post'>
                <table border='1'>
                    <div>
                        ID :
                        <input type='text' name='memberId'>
                    </div>
                    <div>
                        PW :
                        <input type='password' name='memberPw'>
                    </div>
                    <div>
                        이름 :
                        <input type='text' name='memberName'>
                    </div>
                </table>
                    <button type='submit'> 가입하기 </button>
            </form>
    </body>
</html>